.daily-card-link {
  text-decoration: none;
  margin-right: 2em;
  @media (max-width: 1200px) {
    margin-bottom: 1.5em;
  }
  &:hover {
    transition: all 0.5s ease;
    transform: translateY(0px) scale(1.02);
  }
  .card {
    max-width: 210px;
    border-radius: 20px;
    padding: 0.5em;
    .daily-card-date {
      margin-top: 1.5em;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .card-body {
      .card-title {
        font-size: 64px;
        text-align: center;
      }
      .card-text {
        .additional-info {
          display: block;
          .value-and-unit {
            font-weight: 700;
          }
        }
      }
    }
  }
}
