.hourly-card {
  .card {
    width: 700px;
    margin-bottom: 1.5em;
    .card-img-top {
      width: 130px;
      height: 130px;
    }
    .hourly-card-container {
      display: flex;
      .hourly-card-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .hourly-card-body-container {
        width: 100%;
        .card-header {
          display: flex;
          justify-content: left;
          div {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            span {
            }
          }
        }
        .card-body {
          text-align: left;
          .card-text {
            .additional-info {
              display: block;
            }
          }
        }
      }
    }
  }
}
