.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .text-input {
    height: 45px;
    width: 850px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: larger;
    text-indent: 1em;
    border-right: none;
  }
  .search-button {
    height: 45px;
    width: 150px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: larger;
    background-color: #b5a5ac;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
}
