.summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .daily-container {
    width: 100%;
    .location {
      width: 100%;
      text-align: center;
      margin: 1em 0 2em 0;
      color: #f5f4f4;
    }
    .search-container {
      margin-top: 4em;
      padding: 0 2em;
    }
    .daily-gallery-container {
      width: 100%;
      display: flex;
      justify-content: center;
      .daily-gallery-wrapper {
        display: flex;
        max-width: 1500px;
        flex-wrap: wrap;
        justify-content: center;
        > a:last-of-type {
          margin-right: 0;
          @media (max-width: 445px) {
            margin-right: 1.5em;
          }
        }
      }
    }
  }
}
