@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: #343739;
}

.spiner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner-border {
    width: 10rem;
    height: 10rem;
  }
}
